:root {
  --max-width: 1100px;
  --border-radius: 12px;

  /* default colors */
  --Tomato: hsl(4, 100%, 67%);
  --NotProvidedByTheBloodyDesign: rgb(223, 66, 139);
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);

  --clr-btn-dropShadow: hsla(4, 100%, 67%, 0.5);
  --clr-btn-color: var(--White);
  --clr-bg-main: var(--White);
}

@media (prefers-color-scheme: dark) {
  :root {
    --max-width: 1100px;

    --clr-bg-main: #232323;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
